@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Poppins:wght@100..900&display=swap');

@import "tailwindcss";

:root {
  --main-bg-gradient: linear-gradient(180deg, #e9f0fe, hsla(0, 0%, 100%, 0));
  --main-gradient: linear-gradient(95.36deg, #7292ed 6.77%, #9a68f9 98.71%);
}

/* 기본 HTML, Body 스타일  */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

/* 스크롤바 스타일 */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #e3e6ed;
  border-radius: 100px;
  border: 3px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-track {
  border-radius: 0;
}